<div class="toolbar" >
  <div class="container">
    <div class="row">
      <div class="col-7" ><h4>RENTAL MANAGEMENT SYSTEM</h4></div>
      <div class="col-5" style="float:right;">       
        <nav>
          <ul class="nav">  
            <li><a href="#">Select Location</a>
              <ul>
                <li *ngFor="let menu of myData"
                >
                <a href="#">{{menu.name}}</a>
                <ul >
                  <li *ngFor="let Submenu of menu.branches ;  let j = index" >
                      <a (click)="gotoDetails(Submenu)">{{Submenu.name}}</a>
                  </li>
                  
                </ul>
              </li>               
              </ul>
            </li>            
          </ul>
        </nav>
      </div>
    </div>
  </div>  
</div>
<!-- ======---------------------------Home screen----------------------------------------- -->
<div class="bodya">
    <div class="container">
      <div class="row">

        <div class="col-3" *ngFor="let cats of xx" (click)="gotosubcategory(cats)">
            <img  src="../../assets/images/{{cats.image}}" alt="Photo of a Shiba Inu" class="imgs">
           <div class="cat_title"><p>{{cats.name}} </p></div> 
        </div> 
      </div>
      </div>
  
    </div>
  
    <!-- ======---------------------------End Home screen----------------------------------------- -->
  