
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-7" ><h4>RENTAL MANAGEMENT SYSTEM</h4></div>
      <div class="col-5" style="float:right;">       
        <nav>
          <ul class="nav">  
            <li><a href="#">Select Location</a>
              <ul>
                <li *ngFor="let menu of myData"
                >
                <a href="#">{{menu.name}}</a>
                <ul >
                  <li *ngFor="let Submenu of menu.branches ;  let j = index" >
                      <a (click)="gotoDetails(Submenu)">{{Submenu.name}}</a>
                  </li>
                  
                </ul>
              </li>               
              </ul>
            </li>            
          </ul>
        </nav>
      </div>
    </div>
  </div>  
</div> -->
<div class="content" role="main">
</div>
 <router-outlet></router-outlet>  