<!-- ======---------------------------Home screen----------------------------------------- -->
<div class="bodya">
    <div class="container">
      <div class="row">

        <div class="col-3" *ngFor="let subcats of subxx" >
            <img  src="../../assets/images/subcategory/{{subcats.image}}" alt="Photo of a Shiba Inu" class="imgs">
           <div class="cat_title"><p>{{subcats.name}} </p></div> 
        </div>   
  
          
      </div>
      </div>
  
    </div>
    
  
    <!-- ======---------------------------End Home screen----------------------------------------- -->
  