.imgs
{
  width: 100%;
  border-style: groove;
  border-color: blue;
  border-width: 1px;
}
.cat_title
{
  background-color: blue;
  color: white;
  padding-top: 10px;
  padding-bottom: 1px;
  text-align: center;
}
.col-3
{
  margin-top: 20px;
}